@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  font-family: 'Outfit', sans-serif;
} */
@layer base{
    button{
        @apply cursor-pointer;
    }
    input:not([type="checkbox"]){
        @apply outline-none focus:ring  focus:ring-blue-500 border border-gray-300 rounded-lg focus:border-blue-500;
    }
    textarea{
        @apply outline-none focus:ring focus:ring-blue-500 border border-gray-300 rounded-lg focus:border-blue-500 resize-none;
    }

}

.summary-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

